<footer class="footer wf-section">
    <div class="container w-container">
      <div class="footer-wrapper">
        <div class="footer-brand-wrapper">
          <p class="footer-brand-description">{{ texts.-295e085a }}</p>
          <div class="form-block-3 w-form">
            <form id="email-form-2" name="email-form-2" data-name="email_2" method="get" class="subscribe-form-flex" data-netlify="true" data-ajax="true" data-content-type="application/x-www-form-urlencoded">
              <div class="subscribe-form-input-wrapper"><input type="email" class="subscribe-form-input w-input" maxlength="256" name="Subscriber-Email" data-name="Subscriber Email" placeholder="Subscribe to Our Newsletter" id="Subscriber-Email" required=""></div><input type="submit" value="" data-wait="Please wait..." class="fa-icon background w-button">
            </form>
            <div class="w-form-done">
              <div>{{ texts.5a0ea5a1 }}</div>
            </div>
            <div class="w-form-fail">
              <div>{{ texts.-7c112e99 }}</div>
            </div>
          </div>
          <a href="{{ links.2f }}" aria-current="page" class="brand-footer w-nav-brand w--current">{%- image images.94c93b4.url, images.94c93b4.alt, '[]', 'loading="lazy" class="image-footer"' -%}</a>
        </div>
        <div class="footer-links-wrapper">
          <h5 class="white-text">{{ texts.-7dbf273c }}</h5>
          <a href="{{ links.2f }}" aria-current="page" class="footer-link w--current">{{ texts.2268ff }}</a>
          <a href="{{ links.55b8e8be }}" class="footer-link">{{ texts.645efc51 }}</a>
          <a href="{{ links.5e5270da }}" class="footer-link">{{ texts.7f2746de }}</a>
        </div>
        <div class="footer-links-wrapper">
          <h5 class="white-text">{{ texts.-2f05211f }}</h5>
          <a href="{{ links.-753a8e73 }}" class="footer-link">{{ texts.3c2e81fa }}</a>
        </div>
        <div class="footer-links-wrapper">
          <h5 class="white-text">{{ texts.13ede05 }}</h5>
          <a href="{{ links.3cf9f039 }}" class="footer-link">{{ texts.-667f9cc9 }}</a>
          <a href="{{ links.694cc208 }}" class="footer-link">{{ texts.7c6ccd39 }}</a>
          <a href="{{ links.7f6f1dda }}" class="footer-link">{{ texts.4ab920cb }}</a>
          <a href="{{ links.2c48051 }}" class="footer-link">{{ texts.1fa3c2 }}</a>
          <a href="{{ links.335c25a6 }}" class="footer-link">{{ texts.-7bc27f6b }}</a>
        </div>
      </div>
      <div class="footer-rights-wrapper">
        <div class="footer-copyright"><strong>{{ texts.54b3c7ba }}</strong></div>
      </div>
    </div>
  </footer>