<div class="section red-dot wf-section">
    <div class="container w-container">
      <h2 class="centured-heading">{{ texts.78add80c }}<span class="dot">{{ texts.2e }}</span></h2>
      <p data-w-id="79effa0a-d3ab-7406-1d5f-722cd684efd2" class="paragraph _43">{{ texts.-453bb421 }}</p>
      <div class="top-banner-button-wrapper">
        <a href="{{ links.5e5270da }}" class="subscribe-button w-button">{{ texts.-7d8e6dd1 }}</a>
      </div>
    </div>
  </div>