<div data-animation="default" class="navbar-home-2 w-nav" data-easing2="ease" data-easing="ease" data-collapse="medium" data-w-id="4f0f12b2-7631-b7cd-de83-cdb33f29eed7" role="banner" data-duration="400">
    <div class="navbar-container-home-2 w-container">
      <a href="{{ links.2f }}" aria-current="page" class="brand-home-2 w-nav-brand w--current"><img src="{{ images.2001fdb4.url }}" loading="lazy" data-w-id="169dff34-9ac9-bcf7-5fc3-cf0c585a03d1" height="30" alt="{{ images.2001fdb4.alt | trim | escape }}" class="logo-image-home-2"></a>
      <nav role="navigation" class="nav-menu w-nav-menu">
        <a href="{{ links.2f }}" aria-current="page" class="nav-link-block w-inline-block w--current">
          <div class="dropdown-icon-home-2 white-nav-text">{{ texts.2268ff }}</div>
        </a>
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle-home-2 w-dropdown-toggle">
            <div class="icon w-icon-dropdown-toggle"></div>
            <div class="dropdown-icon-home-2 white-nav-text">{{ texts.3c2e81fa }}</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.761fc417 }}" class="dropdown-link w-dropdown-link">{{ texts.50622285 }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.12ea1491 }}" class="dropdown-link w-dropdown-link">{{ texts.10b6f }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.70729746 }}" class="dropdown-link w-dropdown-link">{{ texts.-5b4a86e6 }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.4a75349d }}" class="dropdown-link w-dropdown-link">{{ texts.214f9f }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.-1a9b09f0 }}" class="dropdown-link w-dropdown-link">{{ texts.73f6abff }}</a>
            </div>
            <div class="triangles"></div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.-8257d9b }}" class="dropdown-link w-dropdown-link">{{ texts.24ef970c }}</a>
            </div>
          </nav>
        </div>
        <a href="{{ links.4f87973 }}" class="nav-link-block w-inline-block">
          <div class="dropdown-icon-home-2 white-nav-text">{{ texts.7397cc93 }}</div>
        </a>
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle-home-2 w-dropdown-toggle">
            <div class="icon w-icon-dropdown-toggle"></div>
            <div class="dropdown-icon-home-2 white-nav-text">{{ texts.13ede05 }}</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.3cf9f039 }}" class="dropdown-link w-dropdown-link">{{ texts.-667f9cc9 }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.694cc208 }}" class="dropdown-link w-dropdown-link">{{ texts.7c6ccd39 }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.7f6f1dda }}" class="dropdown-link w-dropdown-link">{{ texts.4ab920cb }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.2c48051 }}" class="dropdown-link w-dropdown-link">{{ texts.1fa3c2 }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.335c25a6 }}" class="dropdown-link w-dropdown-link">{{ texts.-7bc27f6b }}</a>
            </div>
            <div class="triangles"></div>
          </nav>
        </div>
        <div data-hover="true" data-delay="0" class="dropdown w-dropdown">
          <div class="dropdown-toggle-home-2 w-dropdown-toggle">
            <div class="icon w-icon-dropdown-toggle"></div>
            <div class="dropdown-icon-home-2">{{ texts.3c2336d }}</div>
          </div>
          <nav class="dropdown-list w-dropdown-list">
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.55b8e8be }}" class="dropdown-link w-dropdown-link">{{ texts.2344b96b }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.-580ba8fe }}" class="dropdown-link w-dropdown-link">{{ texts.290af1 }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
              <a href="{{ links.-7cf9f058 }}" class="dropdown-link w-dropdown-link">{{ texts.-62b76f4a }}</a>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
            </div>
            <div class="dropdown-link-wrapper">
              <div class="dropdown-line"></div>
            </div>
            <div class="triangles"></div>
          </nav>
        </div>
        <a href="{{ links.5e5270da }}" class="nav-link-block w-inline-block">
          <div class="dropdown-icon-home-2 white-nav-text">{{ texts.-64104400 }}</div>
        </a>
      </nav>
      <div class="button-wrapper">
        <a href="{{ links.5e5270da }}" class="subscribe-button w-button">{{ texts.-364d0a89 }}</a>
      </div>
      <div data-w-id="4f0f12b2-7631-b7cd-de83-cdb33f29ef51" class="menu-button w-nav-button"><img src="{{ images.7a2568a3.url }}" loading="lazy" data-w-id="4f0f12b2-7631-b7cd-de83-cdb33f29ef52" data-sizes="[{&quot;max&quot;:24,&quot;size&quot;:&quot;100vw&quot;},{&quot;max&quot;:767,&quot;size&quot;:&quot;24px&quot;},{&quot;max&quot;:10000,&quot;size&quot;:&quot;100vw&quot;}]" alt="{{ images.7a2568a3.alt | trim | escape }}" class="burger-menu-home-2">
        <div class="icon-2 w-icon-nav-menu"></div>
      </div>
    </div>
  </div>