<div class="section red-dot wf-section">
    <div class="container w-container">
      <h2 class="centured-heading">{{ texts.-74000092 }}<span class="dot">{{ texts.3f }}</span></h2>
      <p data-w-id="df26084b-f01c-fb4c-3d79-4c6ed64cb0c8" class="paragraph _43">{{ texts.-78470c70 }}</p>
      <div class="top-banner-button-wrapper">
        <a href="{{ links.5e5270da }}" class="subscribe-button w-button">{{ texts.238f46fd }}</a>
      </div>
    </div>
  </div>